html,
body {
    height: 100%;
}


#cover {
    background: #222 url('img/stars.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-caption{
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.form-inline {
    display: flex;
    justify-content: center;
}

#cover-caption > div > div > a {
    border: 1px solid rgb(86, 85, 85);
    border-radius: 30%;
    color: rgb(86, 85, 85);
}

#what-we-do {
    margin-top: 15px;
    margin-right: 15%;
    margin-left: 15%;
}

div.card-header > h5 {
    margin-bottom: 8px;
}

#about-me {
    margin-top: 15px;
    background: #222 url('img/girlincar.jpg') center center no-repeat;
    height: 80%;
    display: flex;
}

.about-me {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

#about-me > div > div {
    max-width: 23rem;
}

.bg-dark{
    opacity: .85;
}

#about-me .card-body .card-text {
    font-size: 12px;
}

.social-icons a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;
}

#footer .navbar {
    background-color: #343a40;
}

#footer .navbar a {
    color: #ffffff;
}

.fixed-nav nav{
    position: fixed;
  }

